
:root {
    --background-color: #0300BF; 
    --text-color: #D9D9D9;       
  }

  @font-face {
    font-family: 'TronicaMono';
    src: url('../fonts/TronicaMono/TronicaMono-Regular.otf') format('opentype'),
         url('../fonts/TronicaMono/TronicaMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:crosshair;
  }
  
  
  body {
    font-family: 'TronicaMono', 'Courier New', Courier, monospace; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative; 
    background-color: var(--background-color); 
    color: var(--text-color); 
  }

  .academic-info {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    opacity: 0.5;
    text-align: center;
    z-index: 1;
    font-weight: 300;
    max-width: 400px;
  }

  /* Mobile responsive styles */
  @media (max-width: 768px) {
    .academic-info {
      left:36%;
      top:24px;
      font-size: 0.85rem;
      max-width: 250px;
      text-align: left;
      opacity: .6;
    }
  }

  .projects-navbar ul li a.active {
    background-color: var(--text-color);
    color: var(--background-color);
  }
  
  